<form class="mx-auto" style="width: 200px;">
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
        <h3>Sign Up</h3>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
                pattern="^[a-zA-Z0-9_]+$" maxlength="20" name="username">
            <div id="usernameHelp" class="form-text">
                Your username must be 8-20 characters long, contain letters and numbers, and must not contain spaces or
                emoji.
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1" aria-describedby="passwordHelpBlock"
                pattern="^[a-zA-Z0-9_]+$" maxlength="20" name="password">
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces or
                emoji.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Sign up</button>
        <a style="display: block;" href="/login">Log in instead</a>
    </form>
   <script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
  <script src="/js/signup.js"></script>