<form style="width: 100%;">
    <div style="width: 100%;">
        <label for="title" class="form-label">Title:</label>
        <input id="title" class="form-control" maxlength="30" value="{{post.title}}">
    </div>
    <div style="width: 100%;">
        <label for="content" class="form-label">Content:</label>
        <textarea id="content" class="form-control" maxlength="255">{{post.content}}</textarea>
    </div>
    <button class="btn btn-success" id="update">Update</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="/js/update.js"></script>